.container
  .col-md-8.mb-4
    %h3 Question
    = @question.content
  .col-md-8
    %h3 Comments
    = form_for [@question, Comment.new], html: {class: "form-horizontal comment-form"} do |f|
      .row
        .col-md-8
          .form-group
            = f.text_area :body, placeholder: "Add a comment", class: "form-control comment-text"
          .form-group
            .actions
              = f.submit "Add Comment", class: 'btn btn-primary', disabled: true
    %ul.comments-list
      = render @question.comments

  