%body.bg-dark
  .container
    .card.card-login.mx-auto.mt-3
      .card-header Login
      .card-body
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'login-form'}) do |f|
          .form-group
            = f.label :email, 'Email address', for: 'exampleInputEmail1'
            = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', id: 'exampleInputEmail1', 'aria-describedby': 'emailHelp', placeholder: 'Enter email'
          .form-group
            = f.label :password, for: 'exampleInputPassword1'
            = f.password_field :password, autocomplete: 'off', id: 'exampleInputPassword1', placeholder: 'Password', class: 'form-control'
          .actions
            = f.submit 'Log in', class: 'btn btn-primary btn-block'
            = link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-info mt-2 w-100'
  :javascript
    $(".alert" ).fadeOut(5000);
